/* Global defaults */
* {
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--text-primary);
    font-weight: var(--normal-weight);
    font-size: var(--small);
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--background);
}

h1 {
    font-family: var(--font-display);
    font-size: var(--huge);
}

h2 {
    font-family: var(--font-display);
    font-size: var(--large);
}

h3 {
    font-family: var(--font-display);
    font-size: var(--medium);
}

p {
    line-height: var(--medium);
}

span {
    &.error {
        color: var(--error);
    }
}

b,
strong {
    font-weight: var(--bold-weight);
    line-height: 1.5rem;
}

s {
    font-weight: inherit;
}

a {
    color: var(--text-secondary);
    transition-duration: var(--fast);
    text-align: center;

    &:hover {
        color: var(--text-primary)
    }
}

img {
    display: block;
    user-select: none;
}

ul {
    padding-left: 1rem;

    & li {
        margin: .5rem 0;
    }
}

hr {
    border: none;
    border-bottom: 1px solid var(--text-secondary);
    margin: 1rem 0;
}

section {
    padding: 2rem;

    &.secondary {
        background-color: var(--secondary);
        box-shadow: var(--drop-shadow);
    }
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    background-color: var(--secondary);
    box-shadow: var(--highlight-shadow);
}

.iconify {
    display: block;
    color: currentColor;
    min-height: var(--icon-size);
    min-width: var(--icon-size);
}

.picture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

table {
    border-collapse: collapse;

    & th,
    td {
        border: 1px solid var(--text-disabled);
        padding: .5rem;
        vertical-align: top;
    }

    & th {
        font-weight: var(--bold-weight);
    }
}

code {
    font-family: var(--font-mono);
    font-weight: var(--bold-weight);
}
