:root {
    /* Semantic color definitions */
    --primary: var(--deep-red);
    --secondary: var(--white);
    --text-primary: var(--off-black);
    --text-secondary: var(--extra-dark);
    --accent: var(--dark);
    --background: var(--off-white);
    --error: var(--red);

    /* Absolute color definitions */
    --red: hsl(0, 100%, 50%);
    --deep-red: hsl(0, 100%, 32%);
    --dark-red: hsl(0, 100%, 20%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(40, 50%, 95%);
    --dark-grey: hsl(230, 10%, 15%);
    --off-black: hsl(230, 10%, 10%);
    --black: hsl(0, 0%, 5%);
    --light: rgba(255, 255, 255, 0.3);
    --extra-light: rgba(255, 255, 255, 0.5);
    --slightly-dark: rgba(0, 0, 0, .05);
    --dark: rgba(0, 0, 0, .3);
    --extra-dark: rgba(0, 0, 0, .6);

    /* Font definitions */
    --text-font: 'Roboto', sans-serif;
    --display-font: 'Playfair Display', serif;

    /* Other definitions */
    --border-radius: .5rem;
    --border: 1px solid var(--accent);
    --hover-brightness: brightness(.9);
    --highlight-shadow: 0px 2px 4px var(--extra-dark), inset 0px 1px 2px var(--light);
    --recessed-shadow: inset 3px 3px 5px var(--extra-dark), inset -2px -2px 5px var(--dark);
}

/* Dark mode */
.dark {
    --text-primary: var(--white);
    --text-secondary: var(--extra-light);
    --primary: #1a4557;
    --secondary: var(--dark-grey);
    --background: var(--off-black);
    --error: var(--deep-red);
    --accent: var(--light);
    --hover-brightness: brightness(1.2);
}

/* Loading fonts */
@font-face {
    font-family: "Roboto";
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/roboto-variable.ttf);
}
@font-face {
    font-family: "Roboto Mono";
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/roboto-mono-variable.ttf);
}
@font-face {
    font-family: "Playfair Display";
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/playfair-display-variable.ttf);
}

/* Global defaults */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--text-primary);
    font-weight: 400;
}

html {
    background-color: var(--background);
}

body {
    margin: 0;
}

h1 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;

    &.error {
        color: var(--error);
    }
}

b, strong {
    font-weight: 600;
}

a {
    font-size: 1rem;
    color: var(--text-accent);
    transition-duration: .2s;
    text-decoration: none;
    &:hover {
        color: var(--text);
    }
}

img {
    display: block;
}

ul {
    padding-left: 1rem;

    & li {
        margin: .5rem 0;
    }
}

hr, .horizontal.divider {
    border: none;
    border-bottom: var(--border);
    width: 100%;
    margin: 0;
}
.vertical.divider {
    border: none;
    border-right: var(--border);
    height: 100%;
    margin: 0 1rem;
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--low-accent);
    padding: 0 .25rem;
    border-radius: .25rem;
}

section {
    padding: 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.spacer {
    &.vertical {
        height: 100%;
    }
    &.horizontal {
        width: 100%
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: var(--secondary);
    box-shadow: var(--highlight-shadow);
    & p {
        text-align: center;
        margin: 0;
    }
}

dialog {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    &::backdrop {
        background-color: rgba(0, 0, 0, .5);
        backdrop-filter: blur(.5rem);
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.column {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &.small {
        flex: 1;
    }
    &.big {
        flex: 4;
    }
}

.chip {
    background: transparent;
    padding: .25rem .5rem;
    border-radius: 1rem;
    border: 1px solid var(--text);
    text-wrap: nowrap;
}

.markdown {
    & h2 {
        text-align: center;
    }

    & hr {
        margin: 3rem 0;
    }
}

.iconify {
    font-size: 1.5rem;
    color: currentColor;
}
