:root {
    /*
    Media query definitions:
        Mobile: < 600px
        Tablet: < 942px
        Laptop: > 942px
    */

    /* Colors */
    --light-red: hsl(0, 67%, 51%);
    --dark-red: hsl(0, 99%, 27%);
    --dark-blue: hsl(200, 54%, 22%);
    --light-blue: hsl(200, 69%, 32%);
    --light-green: hsl(100, 44%, 42%);
    --dark-green: hsl(100, 50%, 26%);
    --pink: hsl(9, 70%, 90%);
    --maroon: hsl(9, 80%, 8%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(240, 5%, 90%);
    --brown: hsl(40, 10%, 10%);
    --off-black: hsl(240, 10%, 7%);
    --dark-grey: hsl(240, 10%, 12%);
    --black: hsl(0, 0%, 5%);
    --grey: hsl(0, 0%, 45%);

    /* Shades */
    --slightly-light: rgba(255, 255, 255, 0.1);
    --light: rgba(255, 255, 255, 0.3);
    --extra-light: rgba(255, 255, 255, 0.5);
    --slightly-dark: rgba(0, 0, 0, .1);
    --dark: rgba(0, 0, 0, .4);
    --extra-dark: rgba(0, 0, 0, .5);

    /* Fonts */
    --font-text: 'Roboto', sans-serif;
    --font-display: 'Roboto', sans-serif;

    /* Font weights */
    --heavy-weight: 900;
    --bold-weight: 500;
    --normal-weight: 300;

    /* Sizes */
    --huge: 3.5rem;
    --large: 2rem;
    --medium: 1.5rem;
    --small: 1rem;
    --tiny: .75rem;

    /* Durations */
    --fast: .3s;
    --slow: .4s;

    /* Shadows */
    --highlight-shadow: 0 2px 4px var(--extra-dark), inset 0 1px 2px var(--light);
    --recessed-shadow: inset 0 2px 4px var(--extra-dark), 0 1px 2px var(--light);
    --drop-shadow: 0 2px 4px var(--extra-dark);
    --book-shadow: 0 5px 10px var(--extra-dark);
    --book-hover-shadow: 0 10px 20px var(--dark);

    /* Other */
    --border-radius: .5rem;
    --overlay: var(--dark);
    --icon-size: 1.5rem;
    --header-height: 4rem;
    --sidebar-width: 15rem;
}

/* Light mode */
.light {
    --primary: var(--deep-red);
    --secondary: var(--white);
    --background: var(--off-white);
    --text-primary: var(--black);
    --text-secondary: color-mix(in srgb, var(--text-primary) 65%, white);
    --text-disabled: color-mix(in srgb, var(--text-primary) 55%, white);
    --hover-brightness: .9;
    --error: var(--light-red);
    --primary-gradient: linear-gradient(
        135deg,
        var(--primary) 60%,
        color-mix(in srgb, var(--primary) 70%, black)
    );
    --secondary-gradient: linear-gradient(
        135deg,
        var(--secondary) 60%,
        color-mix(in srgb, var(--secondary) 90%, black)
    );
}

/* Dark mode */
.dark {
    --primary: var(--dark-red);
    --secondary: var(--dark-grey);
    --background: var(--off-black);
    --text-primary: var(--white);
    --text-secondary: color-mix(in srgb, var(--text-primary) 75%, black);
    --text-disabled: color-mix(in srgb, var(--text-primary) 50%, black);
    --hover-brightness: 1.2;
    --error: var(--dark-red);
    --primary-gradient: linear-gradient(
        135deg,
        var(--primary) 60%,
        color-mix(in srgb, var(--primary) 60%, black)
    );
    --secondary-gradient: linear-gradient(
        135deg,
        var(--secondary) 60%,
        color-mix(in srgb, var(--secondary) 65%, black)
    );
}
